<form ng-submit="search()">
    <label for="accid">Account ID:</label>
    <input type="text" ng-model="searchForm.accountId" id="accid" />

    <button type="submit">Get Matches</button>
</form>
<h2>Results</h2>
<h3>@ViewBag.id</h3>
<table>
    <tr>
        <th>Match Id</th>
    </tr>
    @foreach (var id in ViewBag.matchIds)
    {
        <tr><td><a href="https://www.dotabuff.com/matches/@id">@id</a></td></tr>
    }
</table>