body {

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

table, td, th {    
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 15px;
    background-color: #a03030;
    color: white;
}

th:nth-child(1), td:nth-child(1) {
	text-align: left;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:hover {
	background-color: #ffdddd;
}

input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #a03030;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding: 8px 12px 8px 12px;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input[type=text]:focus {
    border: 3px solid #303030;
}
/*
button {
    background-color: white; 
    color: black; 
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
    outline:none !important;
}

button:hover {
    border: 2px solid #a03030;
}
*/
body {
    padding-top: 0;
}

h2 {
    margin-bottom: 12px; 
    margin-top: 12px;
    margin-left: 8px;
}

ng-content {
    height: calc(100vh - 64px);
}

.headertext {
    padding-right: 20px;
}

#loading-bar-spinner, #loading-bar-spinner .spinner-icon {
    opacity: 0;
}

md-toolbar:not(.md-menu-toolbar) {
    background: #a03030;
    color: white;
}

